__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
.ipynb_checkpoints
.env
.env.*
.venv
venv/
ENV/
env/
env.bak/
venv.bak/
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
target/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
desktop.ini
